body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.nav {
  font-size: 18px;
}

.copyright {
  font-size: 11px;
  color: white;
}

.footer {
  background-color: dimgray;
  color: white;
}

.white {
  font-size: 23px;
  font-weight: bold;
}

h1, nav, a, .footer, .white {
  color: white;
}

.header, .tag {
  background-image: url(/Users/bettinawassermann/git_practice/github_pages/beddew.github.io/Broadway_Website/resources/images/the-flatiron-building.png);
}
